* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    font-family: sans-serif;
}

#header {
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 10vw;
    top: 2vh;
    width: 100%;
    /* background-color: #707070; */

}


#userdata {
    color: rgb(54, 54, 54);
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 40vw;
}

#theme {
    border-radius: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 10vw;
    background-color: rgb(50, 50, 50);
    color: aliceblue;
}

#main {
    position: relative;
    top: 10vh;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2vw;
    background-color: rgb(255, 255, 255);
}

.mycls {
    cursor: pointer;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 30%;
    min-height: 200px;
    border: 1px solid black;
    background-color: white;
    transition: 0.3s ease;
}

.mycls h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.mycls h2,
.mycls h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #555;
    margin-bottom: 5px;
}

.mycls:hover {
    background-color: rgb(168, 168, 168);
    transform: translateY(-5px);
}

#user_info {
    margin-top: 5vh;
    position: relative;
    font-family: "Quicksand", sans-serif;
    border-radius: 2VW;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw 10vh 2vw;
    background-color: rgba(162, 162, 162, 0.252);
    width: 50%;
}

#name {
    font-size: 5rem;
}

#address {
    position: relative;
    top: 2vh;
    font-size: 3rem;
}

#profession {
    font-size: 2rem;
}

#lifestyle {
    color: rgb(58, 58, 58);
    font-size: 1rem;
}

#btn {
    cursor: pointer;
    border: 0px;
    position: absolute;
    bottom: 2vh;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    background-color: rgb(200, 200, 200);
    width: 15vw;
    height: 6vh;
}

@media only screen and (max-width:600px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100dvh;
        font-family: sans-serif;
    }

    #header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 2vh;
        width: 100%;
        /* background-color: #707070; */
    }

    #userdata {
        color: rgb(54, 54, 54);
        font-size: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 40vw;
        /* background-color: antiquewhite; */
    }

    #theme {
        border-radius: 5vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 20vw;
        background-color: rgb(50, 50, 50);
        color: aliceblue;
    }

    #main {
        position: relative;
        top: 13vh;
        font-family: "Quicksand", sans-serif;
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2vw;
        /* background-color: rgb(0, 0, 0); */
        overflow-y: auto;
    }

    .mycls {
        cursor: pointer;
        padding: 2vw;
        border-radius: 15px;
        width: 90%;
        min-height: 200px;
        border: 1px solid black;
        background-color: white;
        transition: 0.3s ease;
    }

    .mycls h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .mycls h2,
    .mycls h3 {
        font-size: 1rem;
        font-weight: normal;
        color: #555;
        margin-bottom: 5px;
    }

    .mycls:hover {
        background-color: rgb(168, 168, 168);
        transform: translateY(-5px);
    }

    #user_info {
        position: relative;
        font-family: "Quicksand", sans-serif;
        border-radius: 2VW;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 2vh 2vw 2vh 2vw;
        background-color: rgba(162, 162, 162, 0.252);
        width: 90%;
        height: 50vh;
        overflow-y: auto;
    }

    #name {
        text-align: center;
        font-size: 3rem;
    }

    #address {

        position: relative;
        top: 2vh;
        font-size: 2rem;
    }

    #profession {
        text-align: center;
        font-size: 1.5rem;
    }

    #lifestyle {
        color: rgb(58, 58, 58);
        font-size: 1rem;
    }

    #btn {
        cursor: pointer;
        border: 0px;
        position: fixed;
        bottom: 2vh;
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        background-color: rgb(200, 200, 200);
        width: 25vw;
        height: 6vh;

    }
}